 {# templates/consultation/confirmation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Consultation Confirmation{% endblock %}

{% block body %}
    <h1>Consultation Confirmed</h1>
    <p>The consultation for patient with identifier "{{ patientIdentifier }}" has been successfully created.</p>
    <a href="{{ path('app_patient_consultations', { 'patientIdentifier': patientIdentifier }) }}">View Consultations</a>
{% endblock %}
